<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<!--
	<extension
	    point="org.eclipse.ui.actionSets">
	    <actionSet
            description="Rejuvenates a pointcut expression."
            id="uk.ac.lancs.comp.khatchad.analyze.pointcut"
            label="Rejuvinate Pointcut"
            visible="true">
         <action
               class="uk.ac.lancs.comp.khatchad.rejuvenatepc.AnalyzePointcutPlugin"
               definitionId="uk.ac.lancs.comp.khatchad.analyze.pointcut"
               enablesFor="+"
               helpContextId="uk.ac.lancs.comp.khatchad.AnalyzePointcut.help"
               id="uk.ac.lancs.comp.khatchad.AnalyzePointcut.action"
               label="&amp;Analyze Pointcut..."
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup2"
               style="push"
	           toolbarPath="Normal"
               tooltip="Analyze Pointcut"/>
         <action
               class="uk.ac.lancs.comp.khatchad.rejuvenatepc.RejuvenatePointcutPlugin"
               definitionId="uk.ac.lancs.comp.khatchad.rejuvenate.pointcut"
               enablesFor="+"
               helpContextId="uk.ac.lancs.comp.khatchad.RejuvenatePointcut.help"
               id="uk.ac.lancs.comp.khatchad.RejuvinatePointcut.action"
               label="&amp;Rejuvenate Pointcut..."
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup2"
               style="push"
               toolbarPath="Normal"
               tooltip="Rejuvenate Pointcut"/>
      </actionSet>
   </extension>
   -->
         <!--
         <action
               label="Analyze Shadows"
               class="uk.ac.lancs.comp.khatchad.rejuvenatepc.ShadowAnalyzerPlugin"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/reorgGroup2"
               enablesFor="+"
               id="uk.ac.lancs.comp.khatchad.analyze.shadows.popup">
         </action>
         -->
         <!--
         <action
               label="Analyze Shadows"
               class="uk.ac.lancs.comp.khatchad.rejuvenatepc.ShadowAnalyzerPlugin"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/reorgGroup2"
               enablesFor="+"
               id="uk.ac.lancs.comp.khatchad.analyze.shadows.project.popup">
         </action>
         -->
	    <!--
		<actionSet
	        id="ca.mcgill.cs.swevo.jayfx.JayFXActions"
	        visible="true"
	        label="JayFX Actions"> 
	    	<menu
	        	label="Run &amp;JayFX"
	           	id="jayfxMenu">
	        	<separator
	            	name="jayfxGroup">
	        	</separator>
	     	</menu>   
	        <action 
	           	id="ca.mcgill.cs.swevo.jayfx.test.TestAction"
	           	label="&amp;Test JayFX"
	           	style="push"
	           	icon="icons/reload.gif"
	           	tooltip="Test JayFX"
	   			menubarPath="jayfxMenu/jayfxGroup"
	           	toolbarPath="Normal"
	           	class="ca.mcgill.cs.swevo.jayfx.test.Test">
	        </action>             
	
	    </actionSet>
	    -->
</plugin>
